body {
    
    background-color: rgb(18, 194, 135);
    color: rgb(210, 210, 210);
    font-family: "Barlow Condensed", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 0;
}

button
{
    background-color: rgb(192, 152, 22);
    color: black;
    font-family: "Barlow Condensed", sans-serif;


}
.passo {
    display: none;
}


.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 80%;
}